---
search_exclude: true
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {% include topnav.html search=false %}
    <!-- <section class="container mb-5">
             <div class="card border border-primary text-primary text-center">
            <div class="card-body">
                <h5 class="card-title fs-3">Our website is currently under construction</h5>
                <p class="card-text">For feedback and/or any query, please don't hesitate to <a
                        href="https://github.com//elixir-oslo/biomeddata/issues">open an issue on GitHub</a> or
                    you can also contact us by mail via <a
                        href="mailto:support@elixir.no">support@elixir.no</a>.</p>
            </div>
        </div>
    </section>
        -->
    <div class="landingpage">
        <section class="container mb-5">
            <div>
                <p class="text-center lead"> Norwegian Life Science RDM LookUp is a resource aiming to
                    support your life science research on data management in Norway. It acts as a waypost to help you to find data standards, tools,
                    support services and policies relevant to your life sciences research domain. We guide you to the relevant knowledge that can help you manage data in a Findable, Accessible, Interoperable, and Resuable (FAIR)
                    way. Our primary audience are life scientists in Norway.
                </p>
            </div>
        </section>
        <section id="search-section" class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <h2 class="no-anchor text-center mb-3">What can we help you find?</h2>
                    <div class="position-relative">
                        <div class="d-flex justify-content-center">
                            <form role="search" class="input-group">
                                <span class="input-group-text" id="search-label"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="search" id="search-input"
                                    class="search-input form-control form-control-lg bg-white" tabindex="0"
                                    placeholder="Search using a keyword" aria-label="Search using a keyword"
                                    autocomplete="off">
                            </form>
                            <div id="search-results" class="search-results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  <section class="bg-light pb-5">
            <div class="container">
                <h2 class="no-anchor text-center mb-3">Knowledge resources: </h2>
                <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

                    <!-- RDMKIT -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/RDMkit_logo.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="RDMkit logo">
                            <div class="card-body text-center">
                                <a href="https://rdmkit.elixir-europe.org/" target="_blank" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> RDMkit</h3>
                                </a>
                                <p class="card-text"> General life science best practices and guidelines from ELIXIR. Recommended by RCN, ERC and Horizion Europe</p>
                            </div>
                        </div>
                    </div>
                    <!-- RDMkit NO pages -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/flag_no.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="norwegian flag with RDMkit logo">
                            <div class="card-body text-center">
                                <a href="https://rdmkit.elixir-europe.org/no_resources" target="_blank" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Norwegian resources in RDMkit</h3>
                                </a>
                                <p class="card-text"> Resources, policies and laws relevant for life science data management in Norway in RDMkit</p>
                            </div>
                        </div>
                    </div>
                    <!-- cheatsheets -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/cheat_sheets.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="cheat sheet icon">
                            <div class="card-body text-center">
                                <a href="cheat_sheets" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Cheat sheets</h3>
                                </a>
                                <p class="card-text"> Data management cheat sheets from Norwegian life science research infrastructures</p>
                            </div>
                        </div>
                    </div>
                    <!-- openscience.no -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/openscience_no.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="openscience logo">
                            <div class="card-body text-center">
                                <a href="https://www.openscience.no/" target="_blank" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> openscience.no</h3>
                                </a>
                                <p class="card-text"> General, generic information on open science and open data (in Norway), maintained by SIKT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3"> Tools for life science RDM in Norway: </h2>
                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                        <!-- DSW-NO -->
                        <div class="col">
                            <div class="card border bg-white h-100">
                                <img src="assets/img/section-icons/dsw-logo-vertical-color-transparent.svg" class="card-img-top h-icon-5 mx-auto"
                                    alt="cheatsheet icon">
                                <div class="card-body text-center">
                                    <a href="https://norway.dsw.elixir-europe.org/wizard/" target="_blank" class="stretched-link">
                                        <h3 class="card-title no-anchor text-primary"> DS Wizard ELIXIR-Norway</h3>
                                    </a>
                                    <p class="card-text"> Data Stewardship Wizard (DSW) is a tool to aid the creation of data management plans for FAIR and open science. ELXIR Norway offers a dedicated instance for life scientists in Norway with tailored guidance. </p>
                                </div>
                            </div>
                        </div>
                        <!-- FAIRDOM Hub? -->
                        <div class="col">
                            <div class="card border bg-white h-100">
                                <img src="assets/img/section-icons/FAIRDOMhub-full.svg" class="card-img-top h-icon-5 mx-auto"
                                    alt="FAIRDOMhub icon">
                                <div class="card-body text-center">
                                    <a href="https://ega.elixir.no/" target="_blank" class="stretched-link">
                                        <h3 class="card-title no-anchor text-primary"> FAIRDOMhub</h3>
                                    </a>
                                    <p class="card-text"> The FAIRDOMHub is built upon the FAIRDOM-SEEK software suite, which is an open source web platform for sharing scientific research assets, processes and outcomes. </p>
                                </div>
                            </div>
                        </div>
                          <!-- NeLS tool assembly -->
                          <div class="col">
                              <div class="card border bg-white h-100">
                                  <img src="assets/img/section-icons/NeLS_toolkit.svg" class="card-img-top h-icon-5 mx-auto"
                                      alt="cheatsheet icon">
                                  <div class="card-body text-center">
                                      <a href="https://rdmkit.elixir-europe.org/nels_assembly" target="_blank" class="stretched-link">
                                          <h3 class="card-title no-anchor text-primary"> NeLS data management tool assembly</h3>
                                      </a>
                                      <p class="card-text"> The Norwegian e-Infrastructure for Life Sciences (NeLS), RDM infrastructure provided by ELIXIR Norway.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- TSD assembly? -->
                          <div class="col">
                              <div class="card border bg-white h-100">
                                  <img src="assets/img/section-icons/TSD_tool_assembly.svg" class="card-img-top h-icon-5 mx-auto"
                                      alt="TSD tool assembly illustration">
                                  <div class="card-body text-center">
                                      <a href="https://rdmkit.elixir-europe.org/tsd_assembly" target="_blank" class="stretched-link">
                                          <h3 class="card-title no-anchor text-primary"> TSD data management tool assembly</h3>
                                      </a>
                                      <p class="card-text"> RDM infrastructure for sensitive data in Norway.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- NFEGA? -->
                          <div class="col">
                              <div class="card border bg-white h-100">
                                  <img src="assets/img/section-icons/EGA_submarcas_Norway.svg" class="card-img-top h-icon-5 mx-auto"
                                      alt="EGA Norway icon">
                                  <div class="card-body text-center">
                                      <a href="https://ega.elixir.no/" target="_blank" class="stretched-link">
                                          <h3 class="card-title no-anchor text-primary"> Federated EGA Norway</h3>
                                      </a>
                                      <p class="card-text"> The Federated EGA (European Genome-phenome Archive) is a distributed solution for sharing and exchange of human -omics data across national borders. </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
        <section class="container mb-5">
             <div class="card border border-primary text-primary text-center">
                <div class="card-body">
                    <h5 class="card-title fs-3">For feedback and/or any query, please don't hesitate to <a
                            href="https://github.com//elixir-oslo/biomeddata/issues">open an issue on GitHub</a> or
                        you can also contact us by mail via <a
                            href="mailto:support@elixir.no">support@elixir.no</a>.</h5>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-auto">
                        <img class="h-icon-6" src="{{ '/assets/img/section-icons/users-icon.svg' | relative_url }}"
                            alt="Contributors icon">
                    </div>
                    <div class="col-lg-7">
                        <h2>Welcome with your contributions!</h2>
                        <p>This project is only possible, thanks to the <a
                                href="{{ '/about/contributors' | relative_url }}"><b>BioMedData coordinators
                                and Project Area Liasions (PALs)</b></a>, the involved life science research infrastructures and funding from the Norwegian Research Council under project 295932. Norwegian Life Science Research Data Management (RDM) LookUp is an open community
                            project, and you are welcome to join us! To cite Life Sciences RDM LookUp, please use following format:
                            <div class="card border-1 my-4">
                              <div class="card-body">
                                <p class="card-text"><i>Norwegian Life Science RDM LookUp. A deliverable from BioMedData, part of ELIXIR Norway. URL: <a href="https://elixir.no/organization/biomeddata">https://elixir.no/organization/biomeddata</a>.</i></p>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="col-lg-3 my-auto">
                        <a class="btn btn-primary btn-lg rounded-pill" href="{{ '/contribute/' | relative_url }}">Start
                            contributing</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i><span class="ms-2 d-none d-sm-inline">Back to top</span>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>

</html>
